.relative.bg-white
  .mx-auto.max-w-7xl.px-6
    .flex.items-center.justify-between.border-b-2.border-gray-100.py-6.md:justify-start.md:space-x-10
      .flex.justify-start.lg:w-0.lg:flex-1
        %a{href: "#"}
          %span.sr-only Your Company
          %img.h-8.w-auto.sm:h-10{alt: "", src: "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"}/
      .-my-2.-mr-2.md:hidden
        %button.inline-flex.items-center.justify-center.rounded-md.bg-white.p-2.text-gray-400.hover:bg-gray-100.hover:text-gray-500.focus:outline-none.focus:ring-2.focus:ring-inset.focus:ring-indigo-500{"aria-expanded" => "false", type: "button"}
          %span.sr-only Open menu
          %svg.h-6.w-6{"aria-hidden" => "true", fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24"}
            %path{d: "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      %nav.hidden.space-x-10.md:flex
        = link_to root_path, class:'text-base font-medium text-gray-500 hover:text-gray-900' do
          %span.screen-reader Home


        %a.text-base.font-medium.text-gray-500.hover:text-gray-900{href: "#"} Pricing
        %a.text-base.font-medium.text-gray-500.hover:text-gray-900{href: "#"} Docs
      .hidden.items-center.justify-end.md:flex.md:flex-1.lg:w-0
        %a.whitespace-nowrap.text-base.font-medium.text-gray-500.hover:text-gray-900{href: "#"} Sign in
        %a.ml-8.inline-flex.items-center.justify-center.whitespace-nowrap.rounded-md.border.border-transparent.bg-indigo-600.px-4.py-2.text-base.font-medium.text-white.shadow-sm.hover:bg-indigo-700{href: "#"} Sign up
  /
    Mobile menu, show/hide based on mobile menu state.
    
    Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
  = render 'layouts/headers/header_mobile'

  