.flex.min-h-full.justify-center.px-4.sm:px-6.lg:px-8.min-w-fit.mt-10	
  .w-full.max-w-xl.space-y-8
    .mx-auto.w-full{class: ""}
      %h1.font-bold.text-4xl New article
      = render "form", article: @article