.bg-white.p-4.rounded-lg.h-full
  %form{action: "#{request.path}", method: "GET"}
    %label.m-10{for: "category"} Filter by category:
    %select#category.block.w-full.mt-10{name: "category"}
      %option{value: ""} All categories
      = options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category])
    %button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded.mt-10{type: "submit"}
      Filtrer